

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/concrete_seamless.png");
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: linear-gradient(to right, #33658A, #7D9Db4);
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 30   0px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /* background: #33658A; */
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }

 .header-a:hover{
      color: #FF7200; 
      font-size: 110%
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: linear-gradient(to right, #33658A, #7D9Db4);
    border-top: 2px solid #ccc;
  }

  

  /* main */
  
  #main-container {
    padding-top: 105px;
    display: flex; 

    /* justify-content: space-between; */
  }

  .section2{
    background-color: #A2B9C9; 
    padding: 30px; 
    width: 50%; 
    border-right: 5px; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
        font-family: Georgia, Times, "Times New Roman", serif;
  }

  .hello{
    font-size: 125px; 
    font-weight: 50; 
    color: #090909;
    width: 100%; 
  }

.punc{
  color: #840032
}

.nombre{
  color: white;   
}

  .jump {
    font-size: 120px;
    color:white;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  }
  .jump span{
  position: relative;
  display: inline-block;
  transition: transform 0.1s;
}

  .jump span:hover {
    transform:translateY(-20px) scale(2) rotate(10deg);
    z-index: 1;
  }

  .me{
    font-size: 40px; 
    color: white; 
  }
  #changeText{
    color: #840032;
  }
  
  .main-section {
    /* float: left; */
    /* width: 100%; */
    display: flex; 
    flex-wrap: wrap; 
    /* flex-direction: column; */
    /* align-content: center; */
    width: 50%;
    padding: 30px;
    /* margin: 5 0 40px; */
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px; 
    justify-content: space-evenly;
  }

  .headshot-wrapper{
    display: flex; 
  }

  .headshot{
    margin: 5%;
    object-fit: contain;
    border-radius: 50%; 
    border-top: 3px solid #FFA55C
  }

  .main-bubs{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    border-radius: 50%; 
    height: 165px; 
    width: 165px; 
    transition: 1.5s; 
  }

  .aboutText{
    color: white; 
    opacity: 0.0; 
  }

  .main-bubs:hover{
    transform: rotate(360deg) scale(1.5);
    /* transform-origin: bottom right; */
  }

  .about:hover{
    transform: rotate(360deg) scale(3);
  }

  .projects{
    background-color: #840032; 
    color:#E5dada; 
  }

  .resume{
    background-color: #E5dada;
    color: #02040F;
  }

  .about{
    background-color: #02040F;
    color:#E5dada; 
  }

  .contact{
    background-color: #FF7200;
    color:#E5dada; 
  }
  
  /* portfolio page */

  .port-container{
    padding-top: 130px; 
    /* flex-direction: column; */
    min-height: 800px; 
  }
  
  .card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
  }

  .card{
    display: flex; 
    flex-direction: column;
    height: 500px; 
    width: 300px; 
    border: 1px solid black;
    margin: 30px; 
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    
  }

  .img-container{
    display: flex; 
    width: 100%;
    justify-content: center;

  }

  .port-img{
    height:300px; 
    width: 300px; 
    object-fit: contain;
  }

  .card-body{
    margin-top: -10px; 
    padding: 5px; 
  }

  .buttons{
    display: flex; 
    justify-content: space-around; 
  }

  /* .port-img{
    
  } */
  
  /* contact page */
  
.con-container{
  min-height: 400px;

}

.con-text{
  display: flex; 
  flex-direction: column;
  /* align-items: center;  */
}

.email-links{
  max-width: 210px; 
  /* background-color: lightgray;  */
  border-bottom: solid 2px #5E5D5C;
  /* border: solid 3px #5E5D5C;  */
  margin:20px; 
}

.email-links:hover{
  color: #FF7200; 
  font-size: 110%;
  border-bottom: solid 5px #FF7200
}


/* index */
.index_div{
  display: flex; 
  flex-direction: column;
  border: none;
  justify-content: center;
  padding: 150px; 
  background: linear-gradient(to right, #ffffff, #f2f3d9);
  min-height: 450px;  
 }

.first_name{
  border: none; 
  margin: 5px; 
  color: black;
  font-size: 90px; 
  align-self: center;
  animation: wordmove 4.5s 0s forwards; 
}

.last_name{
  border: none; 
  margin: 5px; 
  color: black;
  font-size: 90px; 
  align-self: center;
  animation: wordmoveright 4.5s 0s forwards; 
}

.enter_button{
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative; /* This keeps the button in place while the box shadow shrinks */
    background-color: #33658a;
    font-size: 28px; 
    font-weight: 300px; 
    color: white; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    padding: 25px 80px; 
    margin: 0 auto; /* this centers the button */
    border-radius: 20px; /* this rounds the corners */
    box-shadow: 0 6px #58819f; /* x-offset, y-offset, shadow color */
    opacity: 0;
    animation: fadein 4s 1s forwards;
  }

  .enter_button:hover{
      box-shadow: 0 4px #58819f; /* this shrinks the shadow as you hover */
      top: 2px; /* becasue the btn position is relative, this makes the top move instaed of the shadow*/
  }

  .enter_button:active{
      box-shadow: 0 0 #58819f;
      top: 6px; 
  }

  @keyframes fadein{
    0% { opacity:0}
    /* 25% {opacity:.25}
    50% { opacity:.5}
    75% {opacity: .75} */
    100% { opacity:1}
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    50% { opacity:.5; }
    100% { opacity:1; }
}
  
@keyframes wordmove{
  0% {
    transform: translate(-800px)
  }
  90% {
    transform: translate(100px)
  }
  100% {
    transform: translate(0px)
  }
}

@-webkit-keyframes wordmove{
  0% {
    transform: translate(-800px)
  }
  90% {
    transform: translate(100px)
  }
  100% {
    transform: translate(0px)
  }
}

@keyframes wordmoveright {
  0% {
    transform: translate(800px)
  }
  90% {
    transform: translate(-100px)
  }
  100% {
    transform: translate(0px)
  }
}
@-webkit-keyframes wordmoveright {
  0% {
    transform: translate(800px)
  }
  90% {
    transform: translate(-100px)
  }
  100% {
    transform: translate(0px)
  }
}


